{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "prefer-double": true,
        "semi": false,
        "quoteProps": "as-needed",
        "trailingComma": "all",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "endOfLine": "lf"
      }
    ]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "parser": "babel-eslint"
}
